body {
    background-color: #3cbd41;
  }

  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
  }

  .jumbotron {
    background-image: url('images/header.jpg');
    background-size: cover;
    color: black;
    text-align: center;
  }

  .jumbotron h1 {
    font-size: 4em;
    font-weight: bold;
  }

  .jumbotron p {
    font-size: 1.5em;
  }

  .container {
    margin-top: 40px;
  }

  .carousel img {
    max-height: 400px;
    object-fit: cover;
  }

  /* Styles de base pour la description des personnes */
  #apropos {
    background-color: #3cbd41;
    padding: 2rem;
  }
  
  .person {
    text-align: center;
    padding: 1rem;
  }
  
  
  .person img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .person h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .row {
      display: flex;
      flex-direction: column;
    }
  
    .col-md-4 {
      margin-bottom: 1rem;
    }
  }


  