body {
    background-color: #3cbd41;
  }

  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
  }

  .jumbotron {
    background-image: url('images/header.jpg');
    background-size: cover;
    color: black;
    text-align: center;
  }

  .jumbotron h1 {
    font-size: 4em;
    font-weight: bold;
  }

  .jumbotron p {
    font-size: 1.5em;
  }

  .container {
    margin-top: 40px;
  }

  .carousel img {
    max-height: 400px;
    object-fit: cover;
  }

  /* Styles de base pour la description des personnes */
.person p {
  font-size: 18px;
}

/* Styles spécifiques pour les écrans plus petits (tablette) */
@media (max-width: 768px) {
  .person p {
    font-size: 16px;
  }
}

/* Styles spécifiques pour les écrans encore plus petits (mobile) */
@media (max-width: 480px) {
  .person p {
    font-size: 14px;
  }
}
  
  .person img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  